node_modules/
.next/
.nuxt/
.astro/
build/
dist/
out/
public/
blog/.obsidian/
blog/.trash/
blog/_dairynote/
blog/_Lists/
blog/_template/
blog/images/
blog/.git/
package-lock.json
yarn.lock
pnpm-lock.yaml
next.config.js