html.dark {
  color: #fff;
  background-color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

/* 基本のスタイル */

p:not(:first-of-type) {
  margin-top: 1rem;
}

img {
  height: auto;
}

a {
  color: dimgray;
}

pre {
  max-height: 600px;
}
