---
import '../styles/global.css'

import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import { Breadcrumbs } from 'astro-breadcrumbs'
import BlogPost from '../components/BlogPost.astro'

// const allPosts = await Astro.glob('../pages/posts/*.md');
const blogPosts = await getCollection('blog')

const pageTitle = 'Blog'
---

<BaseLayout pageTitle={pageTitle}>
  <Breadcrumbs />
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>

  <ul>
    {
      blogPosts.map((post) => (
        <BlogPost url={post.slug} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
