---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Privacy Policy'
const pubDate = new Date('2023-03-25').toLocaleDateString()
const upDate = new Date('2023-08-05').toLocaleDateString()
---

<BaseLayout pageTitle={pageTitle} pubDate={pubDate} upDate={upDate}>
  <p>
    当ページは、c-studio（c-std.com）において、利用者のプライバシー保護についての方針を示したものです。以下に、当サイトで取り扱う個人情報についての説明を記載しております。
  </p>
  <h2>取得する個人情報</h2>
  <p>
    当サイトでは、利用者が自発的に入力する情報（お名前、メールアドレス、住所、電話番号等）を収集する場合があります。また、アクセスログ情報を収集することもありますが、これによって個人を特定することはできません。
  </p>
  <h2>個人情報の利用目的</h2>
  <p>当サイトが取得した個人情報は、以下の目的で利用いたします。</p>
  <p>
    お問い合わせやご相談への回答<br />
    サービス提供のための連絡<br />
    当サイトの改善や新サービスの開発に向けた分析
  </p>
  <h2>個人情報の第三者提供</h2>
  <p>
    当サイトは、法令に基づく場合を除き、原則として取得した個人情報を第三者に提供することはありません。
  </p>
  <h2>個人情報の安全管理</h2>
  <p>
    当サイトは、個人情報の漏洩、滅失、毀損等を防止するため、適切なセキュリティ対策を実施し、個人情報の厳重な管理を行います。
  </p>
  <h2>広告について</h2>
  <p>当サイトはAmazonのアソシエイトとして適格販売により収入を得ています。</p>
  <p>
    当サイトではGoogle等の第三者配信事業者がCookieを使用し、過去にアクセスした際の情報に基づいた広告が配信されます。CookieによりGoogleやその他事業者が適切な広告を表示可能になっています。※<a
      href="https://myadcenter.google.com/home?sasb=true">広告設定</a
    >でパーソナライズ広告に使われる第三者配信事業者のCookieを無効にできます。
  </p>
  <h2>アクセス解析ツールについて</h2>
  <p>
    当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
  </p>
  <h2>著作権について</h2>
  <p>
    当サイトで掲載している文章や画像などの無断転載を禁止します。特に制作物に関する無断転載においては、使用料を請求させていただく場合があります。
  </p>
  <h2>免責事項</h2>
  <p>
    当サイトは、利用者が当サイトを利用することにより発生したいかなる損害についても、一切の責任を負いかねます。
  </p>
  <p>
    また当サイトのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。
  </p>
  <h2>プライバシーポリシーの変更</h2>
  <p>
    当サイトは、プライバシーポリシーの内容を変更することがあります。変更後のプライバシーポリシーは、当サイトに掲載した時点で効力を発生します。
  </p>
  <h2>お問い合わせ先</h2>
  <p>
    当サイトの個人情報の取り扱いに関するお問い合わせは、<a
      href="https://c-std.com/contact/">お問い合わせフォーム</a
    >または以下のメールアドレスまでご連絡ください。<br />
    caori@c-std.com
  </p>
</BaseLayout>
