---
const { currentPage } = Astro.props;

const pages = [
  { name: 'Home', href: '/' },
  { name: currentPage, href: '#' },
];
---

<nav>
  <ol>

     {pages.map((page, index) => (
      <li>
        {index === pages.length - 1 ? (
          <span>{page.name}</span>
        ) : (
          <a href={page.href}>{page.name}</a>
        )}
      </li>
    ))}
  </ol>
</nav>
