---
import Social from './Social.astro'
import Dates from './Dates.astro'
import Copyright from './Copyright.astro'
const { pubDate, upDate } = Astro.props
---

<footer class="bg-slate-600">
  <div>
    <p>
      ご依頼は<a href="https://twitter.com/caori_st">Twitter</a>のDMや<a
        href="https://c-std.com/contact/">問合わせフォーム</a
      >をご利用ください
    </p>
  </div>
  <div class="social">
    <Social platform="twitter" username="caori_st" />
    <Social platform="youtube" username="caori_st" />
    <Social platform="github" username="llama2f" />
  </div>
  <Dates pubDate={pubDate} upDate={upDate} />
  <Copyright publishedYear="2023" owner="caori" />
</footer>
