---
import Social from './Social.astro';
import Dates from './Dates.astro';
const {pubDate,upDate} =Astro.props
---

<style>
  .social {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <div>
  <p>ご依頼は<a href="https://twitter.com/caori_st">Twitter</a>のDMや<a href="https://c-std.com/contact/">問合わせフォーム</a>をご利用ください</p>
</div>
<div class="social">  
    <Social platform="twitter" username="caori_st" />
    <Social platform="youtube" username="caori_st" />
    <Social platform="github" username="llama2f" />
</div>
<Dates pubDate={pubDate} upDate={upDate}/>
</footer>
