---
import Navigation from './Navigation.astro'
import Humburger from './Humburger.astro'
import ThemeIcon from './ThemeIcon.astro'
---
<header>
<nav>
  <Humburger/>
  <ThemeIcon/>
<Navigation />
</nav>

</header>