---
import Navigation from './Navigation.astro'
import Humburger from './Humburger.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header class="min-h-50 w-full min-h-20 flex justify-center fixed">
  <nav class="w-full mt-8">
    <ThemeIcon />
    <Humburger />
    <Navigation />
  </nav>
</header>

<style lang="scss">
  header {
    background-color: $baseTextCol;

    a & a:visited {
      color: $bgCol1;
    }
  }
</style>
