---

---


<div id='hamburger' class= "fixed right-2  top-4 z-20 h-12 w-12 cursor-pointer text-slate-100 md:hidden">
<i id="hamburgerIcon" class="fas hamburger-icon fa-bars absolute right-2 top-0 z-30 block origin-center rotate-0 text-3xl transition-all  duration-500"></i>
  <span class="text-xs absolute right-1 bottom-0">menu</span>
</div>