---
---

<div class="bg-slate-50/[.9] border-2 text-slate-600 rounded p-4 text-center">
  <i class="fa-regular fa-triangle-exclamation"></i>
  <p class="inline-block">この記事のリンク先には広告が含まれています</p>

</div>