---
import { Image } from 'astro:assets'
import Icon from '../assets/icons/icon_normal400.png'

import CardWrapper from '@components/module/CardWrapper.astro'
import CardInner from '@components/module/CardInner.astro'
import Social from '@components/Social.astro'

const proffName = 'caori'
---


<section>
  <div class="bg-slate-100 p-4 not-prose flex flex-col gap-2 mt-12 dark:bg-slate-800 dark:border">
    <h2 class="font-bold text-xl">author</h2>

    <CardWrapper style="gap-2">
      <CardInner style="w-3/12 min-w-24 flex items-center">
        <Image src={Icon} alt={proffName}></Image>
      </CardInner>
      <CardInner style="leading-6">
        <p class="text-sm">WEB制作/イラストレーター</p>
        <h3 class="font-bold my-2">{proffName}</h3>
        <p class="text-sm">宮城県在住。WEBデザインから構築、管理。ものづくりと効率化が趣味。二世帯住宅自宅を気密断熱DIY中。詳細は<a href="about">about</a></p>
        <CardWrapper style="gap-4 mt-2">
          <Social platform="twitter" username="caori_st" ><i class="fa-brands fa-twitter"></i></Social>
          <Social platform="youtube" username="channel/UCYmNQQZfXHCMgDr5WZfoGUQ"><i class="fa-brands fa-youtube"></i></Social>
          <Social platform="github" username="llama2f"><i class="fa-brands fa-github"></i></Social>
        </CardWrapper>
      </CardInner>
    </CardWrapper>
    
  </div>
</section>