---
import { Image } from 'astro:assets';
import icon from '@assets/icons/icon100.png'
const siteName = import.meta.env.SITE_NAME


---
<a href="/">
  <Image src={icon} alt={siteName}  
    densities={[0.5, 1.5, 2]}
    width={icon.width / 2.2}
     />
</a>
