---
import CardInner from '@components/module/CardInner.astro'
import ItemBlock from '@components/module/ItemBlock.astro'

const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`} class="no-underline"><CardInner><ItemBlock style="bg-slate-100 rounded py-1 text-sm text-slate-600 hover:bg-slate-300">{platform}</ItemBlock></CardInner></a>
