---
import CardInner from '@components/module/CardInner.astro'

const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`} class="no-underline"><CardInner><slot /></CardInner></a>
