---
import CardInner from '@components/module/CardInner.astro'
const {tag }=Astro.props

---
      <CardInner style='bg-slate-200m-2 inline-block rounded border p-1 text-sm hover:bg-slate-200  dark:border-slate-600'><a href={`/tags/${tag}`} class="no-underline  dark:text-slate-400">{tag}</a></CardInner>