---

---


<div class= "fixed right-[80px] top-4 z-20 h-12 w-12 cursor-pointer text-slate-100 md:hidden"  onclick="history.back()">
<i class="fa-solid fa-angle-left absolute right-0 top-0 z-30 block text-3xl transition-all  duration-500"></i>
<span class="text-xs absolute -right-1 bottom-0">back</span>
</div>