---
import BaseLayout from './BaseLayout.astro'
import '../styles/remark-link-card.css'
import { Image } from 'astro:assets'
import noImage from '/src/assets/images/noimage.png'
const { frontmatter } = Astro.props
const blogImageSrc = 'src/content/blog/images/'
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>著者: {frontmatter.author}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>投稿日：{frontmatter.pubDate.toLocaleDateString()}</p>
  
<slot />
</BaseLayout>

<style lang="scss">
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
